.app_Navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #EDEDED;
    padding: 1rem 3rem;
    color:#171A1F;
    width:100%;
    position: fixed;
    z-index: 10;
}

.app_Navbar-logo{
    display: flex;
    justify-content: flex-start;
    
}

.app_Navbar-logo img{
    width: 4.4rem;
    padding: 0 1rem;
    cursor: pointer;
}

.app_Navbar-logo h1{
    font-size: 2rem;
    color: #171A1F;
    cursor: pointer;
}

.app_Navbar-link{
display: flex;
flex:1;
align-items: center;
justify-content: center;
list-style: none;
}

.app_Navbar-link a{
    text-decoration: none;
    color:#171A1F;
    margin: 0 1rem;
}

.app_Navbar-link li{
    font-size: 1.3rem;
    margin: 0 1rem;
}

.app_Navbar-link a:hover{
animation: 0.5s ease;
color: gray;
}

.app_Navbar-loginside{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
}

.app_Navbar-signup{
    height: 45px;
    width: 120px;
    background-color: #ededed;
    border: 0.2px #171A1F solid;
    border-radius: 10px;
    cursor: pointer;
}

.app_Navbar-signup:hover{
    animation: ease 2s;
    color:white;
    background-color: #308df7;
    border:none;
}

.app_Navbar-space{
    margin: 0 1rem;
}

.app_Navbar-login{
    height: 45px;
    width: 160px;
    background-color: #3164F4;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.app_Navbar-login:hover{
    animation: ease 0.5s;
    background-color: #308df7;
}
 

@media screen and (Max-width:1250px) {
    .app_Navbar-link{
        display: none;
    }

    .app_Navbar-logo{
        margin-right: auto;
    }
}

@media screen and (Max-width:650px) {
    .app_Navbar-link{
        display: none;
    }

    .app_Navbar-logo{
        margin-right: auto;
    }

    .app_Navbar-login{
        height: 45px;
        width: 80px;
        border-radius: 40px;
    }

    .app_Navbar-signup{
        height: 45px;
        width: 80px;
        border-radius: 40px;
    }


}



