.app_info{
    padding: 10rem 10rem 0 10rem;
    display: flex;
    justify-content: center;
    background-color: rgba(243, 228, 228, 0.944);
}

.app_info-feature img{
    margin-right: 10rem;
}

.app_info-main{
    width: 550px;
}

.app_info-main h1{
    font-size: 55px;
}

.app_info-main p:first-child{
    margin-bottom: 15px;
    font-size: 20px;
}

.app_info-main p:last-child{
    font-size: 22px;
    color: grey;
}

.app_info-main h1{
    margin-bottom: 35px;
}