.app_Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;
    background-color: #ededed;
}

.app_Footer-logo{
    display: flex;
    flex-direction: column;
}

.app_Footer-link a{
    text-decoration: none;
    color: #171A1F;
    font-size: 18px;
}

.app_Footer-link li{
    padding: 1rem 0;
}


.app_Footer-logo img{
   width:30%;
    align-items: center;
}
.app_Footer-logo h1{
    flex:1;
}

.app_Footer-link{
    list-style: none;

}

