.app_Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7rem;
    background-color: #ededed;
}

.app_Footer-logo{
    display: flex;
    flex-direction: column;
}

.app_Footer-link a{
    text-decoration: none;
    color: #171A1F;
    font-size: 18px;
}

.app_Footer-link li{
    margin: 1rem 0;
}


.app_Footer-logo img{
   width:30%;
    align-items: center;
}
.app_Footer-logo h1{
    flex:1;
}

.app_Footer-link{
    list-style: none;

}

@media screen and (max-width:785px) {
    .app_Footer{
        padding: 1rem 3rem;
    }
}

@media screen and (max-width:650px) {
    .app_Footer{
        padding: 0;
    }
    .app_Footer-link a{
        font-size: 15px;
    }
    .app_Footer-link li{
        margin: 0.2rem 0;
    }
}